.jumbotron
  %h1.center
    %i.fa.fa-compass
    SaushEngine
  .lead.text-info.center
    Simple Search Engine
    %small
<<<<<<< HEAD
      version 0.1
  %br
  .center
    %a{href: "https://github.com/sausheong/saushengine2"}
      %i.fa.fa-github
      https://github.com/sausheong/saushengine2
=======
      version 0.2
  %br
  .center
    %a{href: "https://github.com/sausheong/saushengine"}
      %i.fa.fa-github
      https://github.com/sausheong/saushengine
>>>>>>> 74191f13cc8c5fb15caeda26712e93e06cc3d6cf
