.jumbotron
  %h1.center
    %i.fa.fa-compass
    SaushEngine
  .lead.text-info.center
    Simple Search Engine
    %small
      version 0.1
  %br
  .center
    %a{href: "https://github.com/sausheong/saushengine2"}
      %i.fa.fa-github
      https://github.com/sausheong/saushengine2