.content
  .row
    .col-md-9
      .lead.text-info{style: "font-size: 2em;"}
        %i.fa.fa-dashboard
        Dashboard
            
  
  .row  
    .col-md-4
      .thumbnail.center.text-info          
        %div.dashboard-icon
          %i.fa.fa-circle-o-notch.fa-spin
        %div.dashboard-thumb
          #{@qstatus[:message_count]} 
          %br
          Queued
    .col-md-4
      .thumbnail.center.text-info          
        %div.dashboard-icon
          %i.fa.fa-database
        %div.dashboard-thumb
          #{@qstatus[:consumer_count]} 
          %br
          Spiders
    .col-md-4
      .thumbnail.center.text-info          
        %div.dashboard-icon
          %i.fa.fa-file-text-o
        %div.dashboard-thumb
          #{@page_count} 
          %br
          Pages
          