.row
  .col-md-12.center
    .lead.text-info{style: 'font-size: 2em'} 
      %i.fa.fa-compass
      SaushEngine
.row        
  %form{method: :post, action: "/q"}
    .col-lg-6.col-lg-offset-1
      .input-group.input-group-lg
        %input.form-control{type: :text, name: 'text', placeholder: "Ask away!", value: params[:text]}
        %span.input-group-btn
          %button.btn.btn-info{type: :submit}
            %i.fa.fa-search
    .col-lg-3
      .input-group.input-group-lg
        %select.form-control{name: "mime_type"}
          %option{value: ""} All
          - @mime_types.each do |type, name|
            %option{value: "#{type}"}=name
%br

.row
  .col-md-12
    .lead #{@pages.count} results found
.row            
  %ol
    - @pages.each do |page|
      %li.text-info
        %a{style: 'font-size: 1.2em;', href: page.url}
          =page.title.empty?  ? "(NO TITLE)" : page.title
        %br
        %small
          .muted
            %i.fa.fa-link
            %a{href: page.url}
              =page.url  