@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  src: local('Cedarville Cursive'), local('Cedarville-Cursive'), url(http://themes.googleusercontent.com/static/fonts/cedarvillecursive/v3/cuCe6HrkcqrWTWTUE7dw-2YEW1clNUI6vvJhfGrjWFk.woff) format('woff');
}
